<!DOCTYPE html>
<html>

    <head>
        <!--totally working title-->
        <title>Jeff Hall Portfolio</title>

        <!--css -->
        <link type="css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link type="css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
        <title><%= title %>Hall Portfolio</title>

    </head>
    <body>
    <!--nav bar that lets you look at all the disapointing pages ive made-->
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/servicePage">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
