<%- include partials/header.ejs %>
<!--html title and paragraph-->
    <h1><%= title %></h1>
    <p>Welcome to my personal hell</p>
    <p><%= message%></p>
<!--attempt at stylesheet/css-->
<link type="css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link type="css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
<%- include partials/footer.ejs %>
